body {
    background: rgb(119, 150, 212);
    font: normal 11pt Arial;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.button-container {
    text-align: left;
}

#txtano {
    width: 80px;
}